* {
  background-color: #14121c;
  color: #f2f2f2;
}
.class {
  color: #3691ff;
}
.className {
  color: #ff6480;
}
.string {
  color: #f9c859;
}
.number {
  color: #ff78f8;
}
.methods {
  color: #3fc56b;
}
.brackets {
  color: #7a82da;
}
.property {
  color: #ce9887;
}
